body {

	background-image: url("Background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
  	
  
}

.main-logo {
	display:block;
	margin-left: auto;
  margin-right: auto;
  filter: brightness(0%);
	
 
}

h1 {

	text-align: center;

}

.main-navigation {
  list-style-type: none;
  margin: 50;
  padding: 50;
  overflow: hidden;
  }

#about, #services, #testimonial, #contact {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  overflow: auto;

}



li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: pink;
}

p {

	text-align: center;
	 margin: 50px 50px;
}

ol {

  float: left;
  overflow: auto;
 
}

.sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a { float: left; }
  div.content {margin-left: 0; }


div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.sidebar {
  margin: 10px; 
  padding: 15px;
  width: 200px;
  position: relative;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  margin: 10px;
  text-decoration: none;
}
 

.sidebar a:hover:not(.active) {
  background-color: pink;
  color: white;
}


#testi1 {

  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: pink;
  margin: 10px;

}

#testi2 {

  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: pink;
  margin: 10px;

}

#testi3 {

  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: pink;
  margin: 10px;

}

#book-an-appointment {

  text-align: center;
  padding: 20px;

}

#facials {

  display: inline;
  text-align: center;
  margin-right: -50%;
}




  













